    body {
        margin: 0;
        padding-top: 4em;
        padding-bottom: 3.5em!important;
        background-image: url("../Images/background.jpg");
        font-family: 'Merriweather Sans', sans-serif!important;
    }

    #header {
        position: fixed;
        height: 4em;
        top: 0;
        width: 100%;
        background: black;
        z-index: 1;
        -webkit-box-shadow: 0px 4px 18px 6px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 4px 18px 6px rgba(0, 0, 0, 1);
        box-shadow: 0px 4px 18px 6px rgba(0, 0, 0, 1);
    }

    h1 {
        color: white!important;
        text-align: center;
        margin-top: 0.2em!important;
    }

    #nysl_logo {
        position: fixed;
        top: 0;
        width: 3em;
        margin: 0.5em 0 0.5em 0.5em;
    }

    .nextgame_logo {
        width: 2em;
    }

    nav ul {
        position: fixed;
        bottom: 0;
        list-style: none;
        background-color: black !important;
        text-align: center;
        padding: 0;
        margin-bottom: 0 !important;
        height: 3.5em !important;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }

    nav ul li {
        padding: 0 1.25em 0 1.25em;
        color: white;
        margin-top: 0.5em !important;
    }

    nav ul li span:active {
        color: green;
    }

    #team_detail ul {
        list-style: none;
        text-align: justify;
        font-family:
    }

    #teams_page img {
        width: 3em;
        margin: 1em;
    }

    #teams_div {
        font-size: 0.8em;
    }

    #teams_page a {
        color: black;
    }

    #teams_page a:hover {
        text-decoration: none;
    }

    #register_page,
    #games_page,
    #teams_page,
    #teams_detail_page,
    #stats_page,
    #contact_page,
    #rules_page {
        display: none;
    }

    #teams_page {
        font-size: 1.1em;
        font-weight: bold;
    }

    #detail {
        text-decoration: none;
        list-style: none;
        text-align: justify;
        font-size: 1.5em;
    }

    #stats_page th {
        padding-left: 0em;
        padding-right: 0.2em;
    }

    .justify_name {
        text-align: left;
    }

    .team_image {
        width: 10em;
        margin-bottom: 3em;
    }

    #games_page a {
        color: black;
        font-weight: bold;
    }

    #hamburger {
        margin-top: 0.5em;
        background: black;
        position: fixed;
        top: 0;
        right: 0;
    }

    #hamburger span {
        color: white;
    }

    .glyphicon.glyphicon-menu-hamburger {
        font-size: 2em;
    }

    #hamburger .btn-secondary {
        background: black;
    }

    #dropdown_menu {
        background: black!important;
        text-align: center;
        width: 5px!important;
    }

    #dropdown_menu hr {
        margin: 0;
    }

    #dropdown_menu button {
        margin: 0.2em 0 0.2em 0;
        background: black;
        border: none;
    }

    #contact_page a {
        color: black;
    }

    #next_game {
        border: 1px solid black;
        background: url('../Images/field.jpg');
        background-size: cover;
        margin-top: 1.5em;
        margin-bottom: 2em;
        border-radius: 1em;
        color: white;
    }

    #rules_page h5,
    #rules_page h4,
    #rules_page h3 {
        text-align: center;
    }

    #rules_page li, #rules_page
    p {
        text-align: justify;
    }

    #footer ul {
        -webkit-box-shadow: 0px 1px 10px 6px rgba(0, 0, 0, 1);
        -moz-box-shadow: 0px 1px 10px 6px rgba(0, 0, 0, 1);
        box-shadow: 0px 1px 10px 6px rgba(0, 0, 0, 1);
    }

    #home_page a, #register_page a {
        background: black;
        color: white;
    }

    #login_div {
        background: url('../Images/field2.jpg');
        background-size: cover;
        border: 1px solid black;
        border-radius: 1em;
        padding: 0 0 1em;
        margin: 0;
        color: white;
    }